body {
	margin: 0;
	padding: 0;
	font-family: 'Abril Fatface';
    font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: #333;
	background-color: #e5f1df;
}

a {
	text-decoration: none;
}

h1, h2, h3{
	font-family: 'Abril Fatface';
	letter-spacing: 1.4px;
}

p{
  font-family: 'Open Sans', sans-serif;
}


.logo {
	margin: 20px;
	font-size: 1.45em;
}

.main-nav {
	margin-top: 5px;

}

.main-nav li{
	list-style-type: none;
	font-family: 'Abril Fatface';
}

.logo a,
.main-nav a {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
}

.main-nav a {
	color: #feffff;
	font-size: .99em;
}

.main-nav a:hover {
	color: #1a611b;
}



.header {
	padding-top: .5em;
	padding-bottom: .5em;
	background-color: #4cdd3e;
}

@media (min-width: 769px) {
	.header,
	.main-nav {
		display: flex;
	}
	.header {
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
	}
	}

@media (min-width: 1025px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}
	.logo {

	}

}



main {
	max-width: 960px;
	margin: 0 auto;
	padding: 20px;
}

section {
	margin-bottom: 40px;
}

.image-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}
.image-section__content {
    width: 50%;
    padding-right: 30px;
}
.image-section__title {
    font-size: 24px;
    margin-bottom: 10px;
}
.image-section__text {
    font-size: 16px;
    margin-bottom: 20px;
}
.image-section__image {
    width: 50%;
    text-align: center;
}
.image-section__image img {
    max-width: 100%;
    height: auto;
}
@media (max-width: 768px) {
    .image-section {
        flex-direction: column;
    }
    .image-section__content,
    .image-section__image {
        width: 100%;
        text-align: center;
    }
    .image-section__content {
        padding-right: 0;
        margin-bottom: 20px;
    }
	.logo{
		display: block;
        margin-left: auto;
        width: 50%;
	}
}

.full-screen {
	flex-direction: column;
}
.full-screen-content,
.full-screen-image {
	width: 100%;
	text-align: center;
}
.full-screen-content {
	padding-right: 0;
	margin-bottom: 20px;
}



.red-button {
	background-color: red;
	color: white;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
  }

  .red-button:hover {
	background-color: #e95050;
  }


h1 {
	font-size: 32px;
	margin-bottom: 20px;
}

p {
	margin-bottom: 20px;
}

footer {
	background-color: #333;
	color: #fff;
	padding: 10px;
	text-align: center;
}

footer p {
	margin: 0;
	padding: 0;
	font-size: 17px;
}

form {
	justify-items: center;
	margin-bottom: 20px;
  }
  
  input[type="text"] {
	display: inline-block;
	width: 200px;
	height: 30px;
	padding: 5px;
	margin-right: 10px;
	background-color: #333;
	color: #98d1a1;
	border: 2px solid #f8f8f8;
  }
  
  button[type="submit"] {
	display: inline-block;
	height: 45px;
	padding: 0 20px;
	border-radius: 5px;
	border: none;
	background-color: #35b148;
	color: #fff;
	cursor: pointer;
  }

  button:hover[type="submit"] {
	display: inline-block;
	height: 45px;
	padding: 0 20px;
	border-radius: 5px;
	background-color: #1b802c;
	color: #fff;
	cursor: pointer;
  }

  .social-icons{
	display: inline-block;
	margin: 10px;
  }

  #iframe{
	font-family: Arial, sans-serif;
    display: flex;
	flex-direction: column;
	align-items: center;
  }

 
