table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
  }
  
  td, th {
    border: 1px solid #973d3d;
    text-align: left;
    padding: 8px;
  }

  #photos {
    display: flex;
    flex-wrap: wrap;

    }
  
    
  img {
    width: 250px;
    padding: 5px;
    }

  #error {
    color: red;
    font-weight: bold;
    }


  